## Built in Functions

In [ ]:
1. int()
2. float()
complex()
list()
str()
tuple()
set()
frozenset()
bool()
dict()
range()
print()
sorted()
reversed()
sum()
min()
max()
len()
chr()
enumerate()
eval()
type()
input()

## 1. zip()

In [4]:
players_name = ['Virat','Rohit','Dhoni','Kartik']
age = [35,36,40,37]

for i, name in enumerate(players_name):
    print(i,name,age[i])

0 Virat 35
1 Rohit 36
2 Dhoni 40
3 Kartik 37

In [8]:
players_name = ['Virat','Rohit','Dhoni','Kartik']
age = [35,36,40,37]

d1 = {}
for i, name in enumerate(players_name):
    print(i,name,age[i])
    d1.update({name : age[i]})
    
d1

0 Virat 35
1 Rohit 36
2 Dhoni 40
3 Kartik 37

{'Virat': 35, 'Rohit': 36, 'Dhoni': 40, 'Kartik': 37}

In [24]:
players_name = ['Virat','Rohit','Dhoni','Kartik']
age = [35,36,40,37]

d1 = {}
for i, name in enumerate(players_name):
    d1.update({name : age[i]})
    
d1

{'Virat': 35, 'Rohit': 36, 'Dhoni': 40, 'Kartik': 37}

In [25]:
players_name = ['Virat','Rohit','Dhoni','Kartik']
age = [35,36,40,37]

d1 = {}
for i, name in enumerate(players_name):
    d1[name] = age[i]
    
d1

{'Virat': 35, 'Rohit': 36, 'Dhoni': 40, 'Kartik': 37}

In [23]:
players_name = ['Virat','Rohit','Dhoni','Kartik']
age = [35,36,40,37]

d1 = {name : age[i] for i, name in enumerate(players_name)}
d1

{'Virat': 35, 'Rohit': 36, 'Dhoni': 40, 'Kartik': 37}

In [13]:
players_name = ['Virat','Rohit','Dhoni','Kartik']
age = [35,36,40,37]

dict(zip(players_name,age))

{'Virat': 35, 'Rohit': 36, 'Dhoni': 40, 'Kartik': 37}

In [15]:
players_name = ('Virat','Rohit','Dhoni','Kartik')
age = [35,36,40,37]

dict(zip(players_name,age))

{'Virat': 35, 'Rohit': 36, 'Dhoni': 40, 'Kartik': 37}

In [17]:
players_name = ('Virat','Rohit','Dhoni','Kartik')
age = (35,36,40,37)

dict(zip(players_name,age))

{'Virat': 35, 'Rohit': 36, 'Dhoni': 40, 'Kartik': 37}

In [19]:
players_name = ('Virat','Rohit','Dhoni','Kartik')
age = (35,36,40,37)

dict(zip(age,players_name))

{35: 'Virat', 36: 'Rohit', 40: 'Dhoni', 37: 'Kartik'}

In [21]:
players_name = ('Virat','Rohit','Dhoni','Kartik')
age = (35,36,35,37)

dict(zip(age,players_name))

{35: 'Dhoni', 36: 'Rohit', 37: 'Kartik'}

### 2. filter

In [ ]:
filter(function_name, iterable)

In [27]:
def test_odd_number(x):
    if x %2 != 0:
        return x
    
test_odd_number(11)

11

In [30]:
def test_odd_number(x):
    if x %2 != 0:
        return x
    
test_odd_number(12)

In [33]:
list(filter(lambda x : x%2 != 0, [3,1,2,5,6,7,8,9,10]))

[3, 1, 5, 7, 9]

In [35]:
odd_list = list(filter(lambda x : x%2 != 0, [3,1,2,5,6,7,8,9,10]))
odd_list

[3, 1, 5, 7, 9]

In [37]:
even_list = list(filter(lambda x : x%2 == 0, [3,1,2,5,6,7,8,9,10]))
even_list

[2, 6, 8, 10]

In [39]:
string = 'Python and Data Science'

upper_char = list(filter(lambda x : x.isupper(), string))
upper_char

['P', 'D', 'S']

In [53]:
string = 'Python and Data Science'

upper_char = list(filter(lambda x : x.islower(), string))
print(upper_char)

['y', 't', 'h', 'o', 'n', 'a', 'n', 'd', 'a', 't', 'a', 'c', 'i', 'e', 'n', 'c', 'e']

In [ ]:
string = 'Python and Data Science'

upper_char = list(filter(lambda x : x.upper(), string))
print(upper_char)

In [41]:
string = 'python'

if string:
    print("Hello")

Hello

In [43]:
string = 'python'

if string.lower():
    print("Hello")

Hello

In [44]:
string = 'python'

if string.upper():
    print("Hello")

Hello

In [46]:
if 'P':
    print("Hello")

Hello

In [49]:
if 'p':
    print("Hello")

Hello

In [54]:
string = 'Python'

upper_char = list(filter(lambda x : x.upper(), string))
print(upper_char)

['P', 'y', 't', 'h', 'o', 'n']

### map

In [ ]:
map(function_name, iterables)

In [56]:
string = 'Python'

upper_char = list(map(lambda x : x.upper(), string))
print(upper_char)

['P', 'Y', 'T', 'H', 'O', 'N']

In [58]:
list1 = [3,1,2,5,6,7,8,9,10]
odd_list = list(map(lambda x : x%2 != 0,list1 ))
odd_list

[True, True, False, True, False, True, False, True, False]

In [60]:
list1 = [3,1,2,5,6,7,8,9,10]
result = list(map(lambda x : x + 10,list1 ))
result

[13, 11, 12, 15, 16, 17, 18, 19, 20]

In [63]:
list1 = [3,1,2,5,6,7,8,9,10]
result = list(map(lambda x : x ** 3,list1 ))
result

[27, 1, 8, 125, 216, 343, 512, 729, 1000]

In [65]:
list1 = [3,1,2,5]
list2 = [7,8,9,10]
result = list(map(lambda x,y: x+y,list1,list2 ))
result

[10, 9, 11, 15]

In [67]:
list1 = [3,1,2,5]
list2 = [7,8,9,10]
result = list(map(lambda x,y: x*y,list1,list2 ))
result

[21, 8, 18, 50]

In [69]:
list1 = [3,1,2,5]
list2 = [7,8,9,10]
result = list(map(lambda x,y: 1000 ,list1,list2 ))
result

[1000, 1000, 1000, 1000]

In [ ]:
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  
      0C0
    1C0 1C1
   2C0 2C1 2C2
  3C0 3C1 3C2  3C3
4C0  4C1 4C2 4C3 4C4

In [ ]:
nCr = n!/(n-r)! r!

In [ ]:
5C2 = 5!/(3!* 2!)
120/(6*2) = 10

In [72]:
120/(6*2)

10.0

In [ ]:
5C5 = 5!/(0!* 5!)
5C0 = 5!/(5!* 0!)