# For Loop

#### Loop Control Statements

In [ ]:
1. break 
2. continue
3. pass

### Fibonacci Series

In [ ]:
Fibonacci:
    0 1 1 2 3 5 8 13 21 34 55 89
    
n = 8:
    0 1   1   2  3 5 8 13
    f s   n
      f   s   n
          f   s  n
              f  s  n
n = 5:
    0 1 1 2 3
    
n = 10:
    0 1 1 2 3 5 8 13 21 34

In [9]:
first = 0
second = 1
n = 8

print("Fibonacci Series :")
print(first)
print(second)

for i in range(n-2): # i = 1(3rd iteration)
    new = first + second # 1 + 2
    print(new)           # 2
    first = second  # first = 1
    second = new    # second = 2

Fibonacci Series :
0
1
1
2
3
5
8
13

In [12]:
first = 0
second = 1
n = 8

print("Fibonacci Series :")
print(first)
print(second)

for i in range(n-2): # i = 1(3rd iteration)
    new = first + second
    first, second  = second , new
    print(new)

Fibonacci Series :
0
1
1
2
3
5
8
13

In [15]:
first = 0
second = 1
n = 8

print("Fibonacci Series :")
print(first)
print(second)

for i in range(n-2): # i = 1(3rd iteration)
    print(first + second)
    first, second  = second , first + second

Fibonacci Series :
0
1
1
2
3
5
8
13

In [16]:
first = 0
second = 1
n = 8

print("Fibonacci Series :")
print(first)
print(second)

for i in range(n-2): # i = 1(3rd iteration)
    print(first + second)
    first, second  = second , first + second

Fibonacci Series :
0
1
1
2
3
5
8
13

In [18]:
print('Python')
print("Class")

Python
Class

In [20]:
print('Python')
print("Class")
print("Machine Learning")

Python
Class
Machine Learning

In [26]:
print('Python',end='+++')
print('Class')

Python+++Class

In [28]:
print('Python',end='\n')
print('Class')

Python
Class

In [30]:
print('Python',end=' ')
print('Class')

Python Class

In [34]:
print('Python',end=' *** ')
print('Class',end=' ++ ')

Python *** Class ++

In [35]:
print('Python',end=' *** ')
print('Class',end='\n')

Python *** Class

In [36]:
print("python\nclass")

python
class

In [38]:
print('Python',end = '\n')
print("Class")
print("Machine Learning")

Python
Class
Machine Learning

In [43]:
a = 10
b = 20
c = 'Data Science'
print(a,end = ' ')
print(b)
print(c)

10 20
Data Science

In [45]:
a = 10
b = 20
c = 'Data Science'
print(a,end = ' ')
print(b,end = ' ')
print(c)

10 20 Data Science

In [47]:
a = 10
b = 20
c = 'Data Science'
print(a,end = '*')
print(b,end = '*')
print(c)

10*20*Data Science

In [49]:
print('Python',end = ' ')
print("Class",end = '\n')
print("Machine Learning")

Python Class
Machine Learning

In [51]:
print('Python',end = ' ')
print("Class",end = ' ')
print("Machine Learning")

Python Class Machine Learning

In [54]:
for i in range(1,11): # i = 1
    print(i,end = '\n')  # i = 1

1
2
3
4
5
6
7
8
9
10

In [58]:
for i in range(1,11): # i = 1
    print(i,end = ' ')  # i = 1
print(100)
print(200)

1 2 3 4 5 6 7 8 9 10 100
200

In [61]:
a = 10
b = 20
c = 30
print(a,b,c,sep = ' ')

10 20 30

In [63]:
a = 10
b = 20
c = 30
print(a,b,c,sep = '-')

10-20-30

In [65]:
a = 100
x = "value in variable a is :"
print(x,a)

value in variable a is : 100

In [68]:
a = 100
print("value in variable a is :",a,sep = ' ')

value in variable a is : 100

In [70]:
a = 100
print("value in variable a is :",a,sep = '')

value in variable a is :100

In [80]:
first = 0
second = 1
n = 10

print("Fibonacci Series :")
print(first,second,end = ' ')

for i in range(n-2):
    print(first + second,end = ' ')
    first, second  = second , first + second

Fibonacci Series :
0 1 1 2 3 5 8 13 21 34

In [82]:
first,second,n = 0,1,10
print("Fibonacci Series :",first,second,end = ' ')
for i in range(n-2):
    print(first + second,end = ' ')
    first, second  = second , first + second

Fibonacci Series : 0 1 1 2 3 5 8 13 21 34

## Prime Numbers

In [ ]:
Prime Numbers :
    If number is divisible by 1 and itself
    
5 >> 2,3,4
7 >> 2,3,4,5,6
11 >> 2,3,4,5,6,7,8,9,10
15 >> 2,3,4,5,6,7,8,9,10,11,12,13,14

19 >> 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
10 >> 2,..,9

In [90]:
n = 18
for i in range(2,n): # i = 2
    if n%i == 0: # True
        print(f"{n} is not a prime number")
        break

18 is not a prime number

In [108]:
n = 15
for i in range(2,n//2): 
    if n%i == 0: 
        print(f"{n} is not a prime number")
        break
    
else:
    print(f"{n} is a prime number")

15 is not a prime number

In [107]:
n = 17
for i in range(2,n//2+ 1): 
    print(i)

2
3
4
5
6
7
8

In [104]:
25 ** 0.5

5.0

In [ ]:
25 ** 0.5