# List

In [ ]:
1. Mutable
2. Duplicates are allowed
3. Ordered Datatype
4. enclosed by []
5. Comma seperated

## List Functions

In [ ]:
List Functions:
    1. append()
    2. extend()
    3. insert()
    4. remove()
    5. pop()
    6. clear()
    7. index()
    8. count()
    9. copy()
    10. sort()
    11. reverse()

Built in Functions:
    1. sorted()
    2. reversed()
    3. max()
    4. min()
    5. sum()

In [3]:
list1 = [4,5,6,7,8]
list1[3]

7

In [5]:
list1 = [4,5,6,7,8]
list1[-2]

7

In [7]:
list1 = [4,5,6,7,8]
list1[1:4] # 1,2,3

[5, 6, 7]

In [9]:
list1 = [4,5,6,7,8]
list1[-4:-1] # -4,-3,-2

[5, 6, 7]

In [11]:
list1 = [4,5,6,7,8]
for num in list1:
    print("Number :",num)

Number : 4
Number : 5
Number : 6
Number : 7
Number : 8

In [13]:
list1 = [4,5,6,7,8]
for index,num in enumerate(list1):
    print(index)

0
1
2
3
4

In [15]:
list1 = [4,5,6,7,8]
for index,num in enumerate(list1):
    print(num)

4
5
6
7
8

In [17]:
list1 = [4,5,6,7,8]
for index,num in enumerate(list1):
    print(index,num)

0 4
1 5
2 6
3 7
4 8

In [18]:
list1 = [4,5,6,7,8]
for index,num in enumerate(list1):
    print(f"value at index {index} is {num}")

value at index 0 is 4
value at index 1 is 5
value at index 2 is 6
value at index 3 is 7
value at index 4 is 8

# List Functions

## Add item in lists

In [ ]:
1. append()
2. extend()
3. insert()

### 1. append()

In [ ]:
list.append(value)
list will get update iteself

In [ ]:
It is used to add the items at last index

In [29]:
list1 = [4,5,6,7,8]
list1 = [4,5,6,7,8,100]
list1 = [4,5,6,7,8,100,200]

In [32]:
list1 = [5,6,7,8,9]
list1.append(100)
list1

[5, 6, 7, 8, 9, 100]

In [27]:
list1 = [5,6,7,8,9]
x = list1.append(100)
print(x)

None

In [28]:
string = 'python'
s1 = string.upper()
s1

'PYTHON'

In [34]:
list1 = [5,6,7,8,9]
list1.append('Python')
list1

[5, 6, 7, 8, 9, 'Python']

In [36]:
city_names = ['Pune','Mumbai','Delhi','Chennai']
city_names

['Pune', 'Mumbai', 'Delhi', 'Chennai']

In [38]:
city_names = ['Pune','Mumbai','Delhi','Chennai']
city_names.append("Bangalore")
city_names

['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']

In [41]:
sub_names = ["Phy","Che","Math"]
sub_names.append('Eng') # ['Phy', 'Che', 'Math', 'Eng']
sub_names.append("Bio") # ['Phy', 'Che', 'Math', 'Eng','Bio']
sub_names

['Phy', 'Che', 'Math', 'Eng', 'Bio']

In [47]:
list1 = [2,5,7,4,9]
# squares = [4,25,49,16,81]

squares = []
squares.append(4)
squares.append(25)
squares.append(49)
squares.append(16)
squares.append(81)

squares

[4, 25, 49, 16, 81]

In [49]:
list1 = [2,5,7,4,9]
# squares = [4,25,49,16,81]

squares = []

for i in list1:
    print(i)

2
5
7
4
9

In [56]:
list1 = [2,5,7,4,9]
# squares = [4,25,49,16,81]

squares = []

for i in list1:
    print(i**2)
    squares.append(i**2) 
    
squares

4
25
49
16
81

[4, 25, 49, 16, 81]

In [61]:
list1 = [2,5,7,4,9]
squares = []
for i in list1:
    squares.append(i**2) 
    print(squares)

[4]
[4, 25]
[4, 25, 49]
[4, 25, 49, 16]
[4, 25, 49, 16, 81]

In [64]:
list1 = [2,5,7,4,9]
list2 = [10,20,30,40,50,60]
list1.append(list2)
list1

[2, 5, 7, 4, 9, [10, 20, 30, 40, 50, 60]]

In [66]:
list1 = [2,5,7,4,9]
list2 = {10,20,30,40,50,60}
list1.append(list2)
list1

[2, 5, 7, 4, 9, {10, 20, 30, 40, 50, 60}]

### 2. extend()

In [ ]:
list1.extend(list2)

In [68]:
list1 = [2,5,7,4,9]
list2 = [10,20,30,40,50,60]
list1.extend(list2)
list1

[2, 5, 7, 4, 9, 10, 20, 30, 40, 50, 60]

In [70]:
list1 = [2,5,7,4,9]
list2 = [10,20,30,40,50,60]
list1.extend(list2)

print("list1 :",list1)
print("list2 :",list2)

list1 : [2, 5, 7, 4, 9, 10, 20, 30, 40, 50, 60]
list2 : [10, 20, 30, 40, 50, 60]

In [72]:
list1 = [2,5,7,4,9]
list2 = [10,20,30,40,50,60]

list2.extend(list1)

print("list1 :",list1)
print("list2 :",list2)

list1 : [2, 5, 7, 4, 9]
list2 : [10, 20, 30, 40, 50, 60, 2, 5, 7, 4, 9]

In [74]:
list1 = [2,5,7,4,9]
tuple1 = (10,20,30,40,50,60)

list1.extend(tuple1)

print("list1 :",list1)
print("tuple1 :",tuple1)

list1 : [2, 5, 7, 4, 9, 10, 20, 30, 40, 50, 60]
tuple1 : (10, 20, 30, 40, 50, 60)

In [76]:
list1 = ['python']
list1.upper()

AttributeError: 'list' object has no attribute 'upper'

In [79]:
list1 = [2,5,7,4,9]
list2 = [10,20,30,40,50,60]
list1.append(list2)
list1

[2, 5, 7, 4, 9, [10, 20, 30, 40, 50, 60]]

In [84]:
list1 = [2,5,7,4,9]
list2 = [10,20,30,40,50,60]

for i in list2: # i = 20
    list1.append(i) # [2,5,7,4,9,10,20]
    print(list1)

[2, 5, 7, 4, 9, 10]
[2, 5, 7, 4, 9, 10, 20]
[2, 5, 7, 4, 9, 10, 20, 30]
[2, 5, 7, 4, 9, 10, 20, 30, 40]
[2, 5, 7, 4, 9, 10, 20, 30, 40, 50]
[2, 5, 7, 4, 9, 10, 20, 30, 40, 50, 60]

In [86]:
list1 = [2,5,7,4,9]
list2 = [10,20,30,40,50,60]

for i in list2: # i = 20
    list1.append(i) # [2,5,7,4,9,10,20]
print(list1)

[2, 5, 7, 4, 9, 10, 20, 30, 40, 50, 60]

### 3. insert()

In [ ]:
list1.insert(index,value)

In [89]:
list1 = [10,20,50,60,70]
list1.append(30)
list1

[10, 20, 50, 60, 70, 30]

In [91]:
list1 = [10,20,50,60,70]
list1.insert(2,30)
list1

[10, 20, 30, 50, 60, 70]

In [93]:
list1 = [10,20,50,60,70]
list1.insert(7,30)
list1

[10, 20, 50, 60, 70, 30]

In [95]:
list1 = [10,20,50,60,70]
list1.insert(1,'python')
list1

[10, 'python', 20, 50, 60, 70]

## Delete Items from list

In [ ]:
1. remove
2. pop
3. clear

del keyword

### 1. remove()

In [ ]:
list.remove(value)

In [98]:
list1 = [10,20,50,60,70]
list1.remove(50)
list1

[10, 20, 60, 70]

In [100]:
list1 = [10,20,50,60,70]
list1.remove(60)
list1

[10, 20, 50, 70]

In [103]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.remove(Delhi)

NameError: name 'Delhi' is not defined

In [106]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.remove("Delhi")
city_names

['Pune', 'Mumbai', 'Chennai', 'Bangalore']

In [108]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.remove("DELHI")
city_names

ValueError: list.remove(x): x not in list

In [115]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city = 'Delhi'

if city in city_names:
    city_names.remove(city)
    print(f"{city} is deleted from list")
    
else:
    print(f"{city} is not present in given list")

Delhi is deleted from list

In [110]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
'Pune' in city_names

True

In [112]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
'Mumbai' in city_names

True

In [113]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
'Kolkata' in city_names

False

In [117]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city = 'DELHI'

if city in city_names: # False
    city_names.remove(city)
    print(f"{city} is deleted from list")
    
else:
    print(f"{city} is not present in given list")

DELHI is not present in given list

# 2. pop

In [ ]:
list.pop(index)

In [120]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.pop(2)
city_names

['Pune', 'Mumbai', 'Chennai', 'Bangalore']

In [122]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.pop(3)
city_names

['Pune', 'Mumbai', 'Delhi', 'Bangalore']

In [123]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.pop(2) # ['Pune', 'Mumbai', 'Chennai', 'Bangalore']
city_names.pop(2) #  # ['Pune', 'Mumbai', 'Bangalore']
city_names

['Pune', 'Mumbai', 'Bangalore']

# 3. clear()

In [ ]:
list.clear()

In [125]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.clear()
city_names

[]

In [ ]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.clear() # city_names = []
city_names

### 4. del Keyword

In [127]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
del city_names
print(city_names)

NameError: name 'city_names' is not defined

In [129]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
print(city_names)
del city_names

['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']

In [133]:
string = 'data science'
del string
print(string)

NameError: name 'string' is not defined

In [136]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']

city_names[1]

'Mumbai'

In [138]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']

del city_names[1]
print(city_names)

['Pune', 'Delhi', 'Chennai', 'Bangalore']

In [139]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']

del city_names[1] # ['Pune', 'Delhi', 'Chennai', 'Bangalore']

del city_names[0] # # ['Delhi', 'Chennai', 'Bangalore']

print(city_names)

['Delhi', 'Chennai', 'Bangalore']

In [145]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names[0] = "Kolkata" # ['Kolkata', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names[-1] = "Pune" # ['Kolkata', 'Mumbai', 'Delhi', 'Chennai', 'Pune']
city_names

['Kolkata', 'Mumbai', 'Delhi', 'Chennai', 'Pune']

In [149]:
numbers = [10,20,30,40,50]
numbers[2] = 1000
numbers

[10, 20, 1000, 40, 50]

In [152]:
numbers = [10,20,30,40,50]
numbers[0]
numbers[-1]

50

In [155]:
numbers = [10,20,30,40,50]
numbers[0] = 50
numbers[-1] = 10
numbers

[50, 20, 30, 40, 10]

In [158]:
numbers = [10,20,30,40,50]
numbers[0] = numbers[-1] # [50,20,30,40,50]
numbers[-1] = 10
numbers

[50, 20, 30, 40, 10]

In [160]:
numbers = [10,20,30,40,50]
# numbers[0], numbers[-1]  = numbers[-1] , numbers[0]
numbers[0], numbers[-1]  = 50 , 10
numbers

[50, 20, 30, 40, 10]

In [162]:
numbers = [10,20,30,40,50]
numbers[0], numbers[-1]  = numbers[-1] , numbers[0]
numbers

[50, 20, 30, 40, 10]

In [164]:
a,b = 40,50
a 
b

50

## 7. index

In [ ]:
ind = list.index(item)

In [166]:
numbers = [10,20,30,40,50]
ind = numbers.index(40)
ind

3

In [168]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.index('Bangalore')

4

In [170]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.index('Pune')

0

In [173]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.index('mumbai')

ValueError: 'mumbai' is not in list

In [175]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city = 'Mumbai'
city_names.index(city) # 1

1

In [180]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city = 'Mumbai'
if city in city_names:
    index = city_names.index(city)
    print(f'Index of {city} is {index}')
else:
    print(f"{city} is not present in list")

Index of Mumbai is 1

In [181]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city = 'MUMBAI'
if city in city_names:
    index = city_names.index(city)
    print(f'Index of {city} is {index}')
else:
    print(f"{city} is not present in list")

MUMBAI is not present in list

In [185]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.find('Pune')

AttributeError: 'list' object has no attribute 'find'

In [188]:
city_names = ['Pune', 'Mumbai', 'Delhi',  'Mumbai', 'Chennai', 'Bangalore' ,'Mumbai',  'Mumbai',  'Mumbai', ]
city_names.index('Mumbai')

1

In [192]:
city_names = ['Pune', 'Mumbai', 'Delhi',  'Mumbai', 'Chennai', 'Bangalore' ,'Mumbai',  'Mumbai',  'Mumbai', ]

for index,city in enumerate(city_names):
    print(index,city)

0 Pune
1 Mumbai
2 Delhi
3 Mumbai
4 Chennai
5 Bangalore
6 Mumbai
7 Mumbai
8 Mumbai

In [194]:
city_names = ['Pune', 'Mumbai', 'Delhi',  'Mumbai', 'Chennai', 'Bangalore' ,'Mumbai',  'Mumbai',  'Mumbai', ]
index_list = []
for index,city in enumerate(city_names): # city = "Mumbai"
    if city == 'Mumbai': # True
        print(index,city)
        index_list.append(index)
index_list

1 Mumbai
3 Mumbai
6 Mumbai
7 Mumbai
8 Mumbai

[1, 3, 6, 7, 8]

### 8. count()

In [ ]:
list.count(item)

In [195]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
city_names.count('Delhi')

1

In [197]:
city_names = ['Pune', 'Mumbai', 'Delhi',  'Mumbai', 'Chennai', 'Bangalore' ,'Mumbai',  'Mumbai',  'Mumbai', ]
city_names.count('Mumbai')

5

### 9. copy()

In [199]:
list1 = [3,4,5,6,7]
list2 = list1
print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 5, 6, 7]
List2 : [3, 4, 5, 6, 7]

In [201]:
list1 = [3,4,5,6,7]
list2 = list1

list1.append(1000) # [3,4,5,6,7,1000]

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 5, 6, 7, 1000]
List2 : [3, 4, 5, 6, 7, 1000]

In [204]:
list1 = [3,4,5,6,7]
list2 = list1

list2.append(2000) # [3,4,5,6,7,2000]

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 5, 6, 7, 2000]
List2 : [3, 4, 5, 6, 7, 2000]

In [206]:
list1 = [3,4,5,6,7]
list2 = list1

list1[2] = 'Python'

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 'Python', 6, 7]
List2 : [3, 4, 'Python', 6, 7]

In [208]:
list1 = [3,4,5,6,7] 
list2 = list1.copy() # Shallow copy

list1[2] = 'Python'

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 'Python', 6, 7]
List2 : [3, 4, 5, 6, 7]

In [210]:
list1 = [3,4,5,6,7] 
list2 = list1.copy() # Shallow copy

list2.append('Data science')

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 5, 6, 7]
List2 : [3, 4, 5, 6, 7, 'Data science']

### Nested List

In [ ]:
List in list

In [213]:
list1 = [[2,3,4],[5,6,7],[10,20,30],[500,600,700]]
len(list1)

4

In [215]:
list1 = [[2,3,4],[5,6,7],[10,20,30],[500,600,700],14,15,16]
len(list1)

7

In [218]:
list1 = [[2,3,4],[5,6,7],[10,20,30],[500,600,700],14,15,16]
list1[2][0]

10

In [220]:
list1 = [[2,3,4],[5,6,7],[10,20,30],[500,600,700],14,15,16]
list1[-2]

15

In [223]:
list1 = [[2,3,4],[5,6,7],[10,20,30],[500,600,700],14,15,16]
list1[3][1]

600

In [225]:
list1 = [3,4,5,[6,7],10,20] 
list2 = list1.copy() # Shallow copy

list1[2] = 'Python'

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 'Python', [6, 7], 10, 20]
List2 : [3, 4, 5, [6, 7], 10, 20]

In [231]:
list1 = [3,4,5,[6,7],10,20] 
list2 = list1.copy() # Shallow copy

list1[3][0] = 6000

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 5, [6000, 7], 10, 20]
List2 : [3, 4, 5, [6000, 7], 10, 20]

#### Deep Copy

In [234]:
import copy

list1 = [3,4,5,[6,7],10,20] 
list2 = copy.deepcopy(list1) # deep copy

list1[3][0] = 6000

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 5, [6000, 7], 10, 20]
List2 : [3, 4, 5, [6, 7], 10, 20]

In [236]:
import copy

list1 = [3,4,5,[6,7],10,20] 
list2 = copy.deepcopy(list1) # deep copy

list2[3][1] = 7000

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 5, [6, 7], 10, 20]
List2 : [3, 4, 5, [6, 7000], 10, 20]

In [237]:
import copy

list1 = [3,4,5,[6,7],10,20] 
list2 = copy.deepcopy(list1) # deep copy

list2[3] = 7000

print("List1 :",list1)
print("List2 :",list2)

List1 : [3, 4, 5, [6, 7], 10, 20]
List2 : [3, 4, 5, 7000, 10, 20]

## 10. sort()

list.sort()

#### Ascending Order`

In [246]:
list1 = [6,2,5,9,1,4]

list1.sort()
list1

[1, 2, 4, 5, 6, 9]

In [247]:
list1 = [6,2,5,9,1,4]

list1.sort(reverse=False)
list1

[1, 2, 4, 5, 6, 9]

In [242]:
list1 = [6,2,5,9,1,4]

list1.sort()
list1

[1, 2, 4, 5, 6, 9]

In [243]:
list1 = [10,20,30,15,25,35,20,30]

list1.sort()
list1

[10, 15, 20, 20, 25, 30, 30, 35]

#### Descending Order

In [245]:
list1 = [10,20,30,15,25,35,20,30]

list1.sort(reverse= True)
list1

[35, 30, 30, 25, 20, 20, 15, 10]

In [250]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.sort()
sub_names

['Bio', 'Che', 'Eng', 'Math', 'Phy']

In [252]:
sub_names = ['Phy', 'Che', 'Math', 'Eng', 'Bio']
sub_names.sort(reverse=True)
sub_names

['Phy', 'Math', 'Eng', 'Che', 'Bio']

In [254]:
sub_names = ['Phy', 'che', 'math', 'Eng', 'Bio']
sub_names.sort()
sub_names

['Bio', 'Eng', 'Phy', 'che', 'math']

In [256]:
sub_names = ['Phy', 'che', 'math', 'Eng', 'Bio']
sub_names.sort(reverse=True)
sub_names

['math', 'che', 'Phy', 'Eng', 'Bio']

In [257]:
sub_names = ['Phy', 'che', 'math', 'Eng', 'Bio',10,40]
sub_names.sort(reverse=True)
sub_names

TypeError: '<' not supported between instances of 'str' and 'int'

## 11. reverse()

In [ ]:
list1.reverse()

In [260]:
list1 = [4,3,6,1,8,9]
list1.reverse()
list1

[9, 8, 1, 6, 3, 4]

In [262]:
list1 = [4,3,6,1,8,9]
list1 = list1[::-1]
list1

[9, 8, 1, 6, 3, 4]

In [266]:
sub_names = ['Phy', 'che', 'math', 'Eng', 'Bio',10,40]
sub_names.reverse()
sub_names

[40, 10, 'Bio', 'Eng', 'math', 'che', 'Phy']

In [268]:
sub_names = ['Phy', 'che', 'math', 'Eng', 'Bio',10,40]
sub_names[::-1]
sub_names

['Phy', 'che', 'math', 'Eng', 'Bio', 10, 40]

In [269]:
sub_names = ['Phy', 'che', 'math', 'Eng', 'Bio',10,40]
sub_names = sub_names[::-1]
sub_names

[40, 10, 'Bio', 'Eng', 'math', 'che', 'Phy']

# Built in Function for list datatype

#### 1. sorted()

In [273]:
string  = 'Python and data science'
print(string)
string

Python and data science

'Python and data science'

In [277]:
list1 = [10,20,30,15,25,35,20,30]
list1.sort()

In [285]:
list1 = [10,20,30,15,25,35,20,30]
x = sorted(list1)
print("New_List :",x)
print("list1    :",list1)

New_List : [10, 15, 20, 20, 25, 30, 30, 35]
list1    : [10, 20, 30, 15, 25, 35, 20, 30]

In [287]:
list1 = [10,20,30,15,25,35,20,30]
x = sorted(list1,reverse=False)
print("New_List :",x)
print("list1    :",list1)

New_List : [10, 15, 20, 20, 25, 30, 30, 35]
list1    : [10, 20, 30, 15, 25, 35, 20, 30]

In [289]:
list1 = [10,20,30,15,25,35,20,30]
x = sorted(list1,reverse=True)
print("New_List :",x)
print("list1    :",list1)

New_List : [35, 30, 30, 25, 20, 20, 15, 10]
list1    : [10, 20, 30, 15, 25, 35, 20, 30]

### 2. reversed()

In [291]:
list1 = [10,20,30,15,25,35,20,30]
list1.reverse()
list1

[30, 20, 35, 25, 15, 30, 20, 10]

In [299]:
list1 = [10,20,30,15,25,35,20,30]

reverse_list = list(reversed(list1))
reverse_list
list1

[10, 20, 30, 15, 25, 35, 20, 30]

## 3. max()

In [301]:
list1 = [10,20,30,15,25,35,20,30]
max(list1)

35

### 4. min()

In [303]:
list1 = [10,20,30,15,25,35,20,30]
min(list1)

10

### 5. sum()

In [304]:
list1 = [10,20,30,15,25,35,20,30]
sum(list1)

185

In [307]:
list1 = [10,20,30,15,25,35,20,30]
list1.sort()
list1

[10, 15, 20, 20, 25, 30, 30, 35]

In [310]:
list1 = [10,20,30,15,25,35,20,30]
new_list = sorted(list1)
new_list

[10, 15, 20, 20, 25, 30, 30, 35]

In [312]:
list1 = [10,20,30,15,25,35,20,30]
list1 = sorted(list1)
list1

[10, 15, 20, 20, 25, 30, 30, 35]

In [313]:
list1 = [10,20,30,15,25,35,20,30]
list1.sort()
list1

[10, 15, 20, 20, 25, 30, 30, 35]

In [316]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
result = ' '.join(city_names)
result

'Pune Mumbai Delhi Chennai Bangalore'

In [318]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai', 'Bangalore']
len(city_names)

5

In [322]:
city_names = ['Pune', 'Mumbai', 'Delhi', 'Chennai','Mumbai','Mumbai','Bangalore']
city_names.remove('Mumbai')
city_names

['Pune', 'Delhi', 'Chennai', 'Mumbai', 'Mumbai', 'Bangalore']