# Nested For Loops

In [ ]:
for loop inside the for loop

#### Syntax

In [ ]:
for variable1 in sequence1:
    statement1
    statement2
    statement3
    
    for variable2 in sequence2:
        statement4
        statement5
        statement6

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(5,15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [10]:
for i in range(5): # i = 1
    print('We are in main for loop :',i)
    for k in range(3): # 3 times
        print("we are in second for loop")
    
    print("*"*80)

We are in main for loop : 0
we are in second for loop
we are in second for loop
we are in second for loop
********************************************************************************
We are in main for loop : 1
we are in second for loop
we are in second for loop
we are in second for loop
********************************************************************************
We are in main for loop : 2
we are in second for loop
we are in second for loop
we are in second for loop
********************************************************************************
We are in main for loop : 3
we are in second for loop
we are in second for loop
we are in second for loop
********************************************************************************
We are in main for loop : 4
we are in second for loop
we are in second for loop
we are in second for loop
********************************************************************************

In [12]:
for i in range(5): # i = 0
    print('We are in main for loop :',i)
    for k in range(3): # 3 times
        print("we are in second for loop")
        print("Hello")
    
    print("*"*80)

We are in main for loop : 0
we are in second for loop
Hello
we are in second for loop
Hello
we are in second for loop
Hello
********************************************************************************
We are in main for loop : 1
we are in second for loop
Hello
we are in second for loop
Hello
we are in second for loop
Hello
********************************************************************************
We are in main for loop : 2
we are in second for loop
Hello
we are in second for loop
Hello
we are in second for loop
Hello
********************************************************************************
We are in main for loop : 3
we are in second for loop
Hello
we are in second for loop
Hello
we are in second for loop
Hello
********************************************************************************
We are in main for loop : 4
we are in second for loop
Hello
we are in second for loop
Hello
we are in second for loop
Hello
********************************************************************************

In [15]:
for i in range(4): # i = 0
    print('We are in main for loop :',i)
    for j in range(3): # j = 1
        print("we are in second for loop")
        for k in range(2): # times
            print("Hello")
    
    print("*"*80)

We are in main for loop : 0
we are in second for loop
Hello
Hello
we are in second for loop
Hello
Hello
we are in second for loop
Hello
Hello
********************************************************************************
We are in main for loop : 1
we are in second for loop
Hello
Hello
we are in second for loop
Hello
Hello
we are in second for loop
Hello
Hello
********************************************************************************
We are in main for loop : 2
we are in second for loop
Hello
Hello
we are in second for loop
Hello
Hello
we are in second for loop
Hello
Hello
********************************************************************************
We are in main for loop : 3
we are in second for loop
Hello
Hello
we are in second for loop
Hello
Hello
we are in second for loop
Hello
Hello
********************************************************************************

In [18]:
for char in 'python':
    print('Character is :',char)
    for i in range(3):
        print("Python and Data Science")
    print("*"*70)

Character is : p
Python and Data Science
Python and Data Science
Python and Data Science
**********************************************************************
Character is : y
Python and Data Science
Python and Data Science
Python and Data Science
**********************************************************************
Character is : t
Python and Data Science
Python and Data Science
Python and Data Science
**********************************************************************
Character is : h
Python and Data Science
Python and Data Science
Python and Data Science
**********************************************************************
Character is : o
Python and Data Science
Python and Data Science
Python and Data Science
**********************************************************************
Character is : n
Python and Data Science
Python and Data Science
Python and Data Science
**********************************************************************

In [20]:
for char in 'python':
    print('Character is :',char) # p
    for i in range(3):
        print("Python and Data Science") # 3 times
    print(end = '\n')

Character is : p
Python and Data Science
Python and Data Science
Python and Data Science

Character is : y
Python and Data Science
Python and Data Science
Python and Data Science

Character is : t
Python and Data Science
Python and Data Science
Python and Data Science

Character is : h
Python and Data Science
Python and Data Science
Python and Data Science

Character is : o
Python and Data Science
Python and Data Science
Python and Data Science

Character is : n
Python and Data Science
Python and Data Science
Python and Data Science

In [22]:
for char in 'python':
    print('Character is :',char) # p
    for i in range(3):
        print("Python and Data Science") # 3 times
    print()

Character is : p
Python and Data Science
Python and Data Science
Python and Data Science

Character is : y
Python and Data Science
Python and Data Science
Python and Data Science

Character is : t
Python and Data Science
Python and Data Science
Python and Data Science

Character is : h
Python and Data Science
Python and Data Science
Python and Data Science

Character is : o
Python and Data Science
Python and Data Science
Python and Data Science

Character is : n
Python and Data Science
Python and Data Science
Python and Data Science

In [25]:
for i in range(4):
    print('Number is :',i)
    for j in range(3):
        print("********")
    print()

Number is : 0
********
********
********

Number is : 1
********
********
********

Number is : 2
********
********
********

Number is : 3
********
********
********

In [28]:
for i in range(4):
    for j in range(3):
        print("********")
    print()

********
********
********

********
********
********

********
********
********

********
********
********

In [32]:
for i in range(4):
    for j in range(3):
        print("python",end = '\n')
    print()

python
python
python

python
python
python

python
python
python

python
python
python

In [36]:
for i in range(4):
    for j in range(3):
        print("python",end = ' ')
    print('++++')

python python python ++++
python python python ++++
python python python ++++
python python python ++++

In [39]:
for i in range(4):
    for j in range(3):
        print("*",end = ' ')
    print()

* * *
* * *
* * *
* * *

In [41]:
for i in range(5):
    for j in range(5):
        print("*",end = ' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [43]:
n = 5
for i in range(n):
    for j in range(n):
        print("*",end = ' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [48]:
n = 5
for i in range(1,n+1): # i = 2
    for j in range(i): # 2 times
        print("*",end = ' ') # * *
    print()

*
* *
* * *
* * * *
* * * * *

In [49]:
for i in range(0,2):
    print(i)

0
1

In [51]:
n = 10
for i in range(1,n+1): # i = 2
    for j in range(i): # 2 times
        print("*",end = ' ') # * *
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [58]:
for j in range(0,1):
    print(j)

0

In [54]:
n = 10
for i in range(1,n+1): # i = 2
    for j in range(i): # 2 times
        print("1",end = ' ') # * *
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1 1
1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1

In [59]:
n = 5
for i in range(1,n+1): # i = 3
    for j in range(i): # 3 times, j = 0
        print(j,end = ' ') # * *
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [61]:
n = 5
for i in range(1,n+1): # i = 3
    for j in range(1,i+1): # 3 times, j = 1
        print(j,end = ' ') # * *
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [64]:
n = 5
for i in range(1,n+1): # i = 3
    for j in range(1,i+1): # 3 times, j = 1
        print(i,end = ' ') # 3 3 3
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [67]:
n = 5
x = 1
for i in range(1,n+1): 
    for j in range(1,i+1):
        print(x,end = ' ') 
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [69]:
n = 5
x = 3
for i in range(1,n+1): 
    for j in range(1,i+1):
        print(x,end = ' ') 
    print()

3
3 3
3 3 3
3 3 3 3
3 3 3 3 3

In [71]:
n = 5
x = 0
for i in range(1,n+1): 
    for j in range(1,i+1):
        print(x,end = ' ') 
    print()

0
0 0
0 0 0
0 0 0 0
0 0 0 0 0

In [74]:
n = 5
x = 1
for i in range(1,n+1): 
    for j in range(1,i+1):
        print(x,end = ' ') 
        x += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [76]:
n = 5
x = 1
for i in range(1,n+1): 
    for j in range(1,n+1):
        print(x,end = ' ') 
        x += 1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [79]:
chr(65)
chr(66)
A >> 65
B >> 66
C >> 67
...
Z >> 90

a >> 97
b >> 98
c >> 99
...
z >> 122

'B'

In [ ]:
A - Z >>> 65 to 90
a - z >>> 97 to 122

In [81]:
chr(122)

'z'

In [83]:
chr(111)

'o'

In [85]:
chr(84)

'T'

In [87]:
chr(91)

'['

In [88]:
chr(95)

'_'

In [92]:
n = 5
x = 65
for i in range(1,n+1): 
    for j in range(1,n+1):
        print(chr(x),end = ' ') 
    print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [94]:
n = 5
x = 65
for i in range(1,n+1): 
    for j in range(1,n+1):
        print(chr(x),end = ' ') 
        x += 1
    print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [96]:
n = 5
x = 65
for i in range(1,n+1): 
    for j in range(1,i+1):
        print(chr(x),end = ' ') 
        x += 1
    print()

A
B C
D E F
G H I J
K L M N O

In [97]:
n = 5
for i in range(1,n+1): 
    x = 65
    for j in range(1,i+1):
        print(chr(x),end = ' ') 
        x += 1
    print()

A
A B
A B C
A B C D
A B C D E