## DataTypes

In [ ]:
string    : Immutable, Ordered, Duplicate items are allowed, '', " ", '''char''', """char"""
List      : Mutable,   Ordered, Duplicate items are allowed, [], list()
Tuple     : Immutable, Ordered, Duplicate items are allowed, (), tuple(), (2,)
set       : Mutable,   Unordered, Duplicate items are not allowed, {2,4}, set()
Frozenset : Immutable, Unordered, Duplicate items are not allowed, frozenset({2,4}), frozenset()
Dict      :

# Dictionary

In [ ]:
It is a collection of key and value pairs

1. Mutable 
2. Ordered/Unordered
3. Indexing is not allowed
4. Keys can not be duplicate
5. Values can be duplicate
6. Dictionary are enclosed by {}, 
7. We can initialize dictionary by using {} or dict()

Key >> Immutable (int, float, str, tuple, frozenset, complex)
Values >> Any DataType(mutable or immutable):
    (int, float, str, tuple, frozenset, complex,list, set, dict)

Ordered   : Python version >= 3.7
Unordered : Python version < 3.7  (Python2.7, Python 3.5, python 3.6)
    
Syntax :
    d1 = {key : Value}

## Dictionary Functions

In [ ]:
To access key and values:
1. get()
2. keys()
3. values()
4. items()

To update Dictionary:
5. update()

Delete items:
6. pop()
7. popitem()
8. clear()

del keyword

In [5]:
s1 = {3,5,5,5,1,8,4}
s1

{1, 3, 4, 5, 8}

In [ ]:
d1 = {key1 : Value1, Key2: Value2, Key3:Value3}

In [4]:
dict1 = {'a':97}
len(dict1)

1

In [8]:
dict1 = {'a':97, 'a':100}
len(dict1)
dict1

{'a': 100}

In [10]:
dict1 = {'a':97,'b':98,'c':99, 'a':100}
len(dict1)
dict1

{'a': 100, 'b': 98, 'c': 99}

In [16]:
dict1 = {'a':97,'b':98,'c':99, 'a':100,'b':200}
print(dict1)
dict1['c']

{'a': 100, 'b': 200, 'c': 99}

99

In [17]:
dict1 = {'a':100,'b':100,'c':99, 'd':100}
dict1

{'a': 100, 'b': 100, 'c': 99, 'd': 100}

In [19]:
dict2 = {1:1, 2:8, 3 : 27, 4 : 64, 5: 125, 6:216}
dict2

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216}

In [22]:
dict2 = {1:1, 2:8, 3 : 27, 4 : 64, 5: 125, 6.4:216,'a':100}
dict2

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6.4: 216, 'a': 100}

In [24]:
dict2 = {[1,2,3,4]:[1,4,9,16]}
dict2

TypeError: unhashable type: 'list'

In [26]:
dict2 = {(1,2,3,4):[1,4,9,16]}
dict2

{(1, 2, 3, 4): [1, 4, 9, 16]}

In [28]:
dict2 = {{1,2,3,4}:[1,4,9,16]}
dict2

TypeError: unhashable type: 'set'

In [29]:
dict2 = {frozenset({1,2,3,4}):[1,4,9,16]}
dict2

{frozenset({1, 2, 3, 4}): [1, 4, 9, 16]}

## dictionary Functions

In [34]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1['A']

100

In [35]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1['D']

400

In [36]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500,2:4,2:2000}
dict1[2]

2000

In [ ]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1['D']

### 1. get()

In [ ]:
dict.get('Key')

Return None : If key is not present

In [38]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1.get("A")

100

In [40]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1["A"]

100

In [42]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1.get("B")

200

In [44]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1["B"]

200

In [46]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1.get("b")

In [48]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1["b"]

KeyError: 'b'

In [52]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}

key1 = "A"
if key1 in dict1:
    print(dict1[key1])

100

In [55]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}

key1 = "a"
if key1 in dict1: # False
    print(dict1[key1])
    
else:
    print("Key is not present")

Key is not present

In [58]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}

key1 = "a"
print(dict1[key1]) if key1 in dict1 else print("Key is not present")

Key is not present

In [60]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}

key1 = "B"
print(dict1[key1]) if key1 in dict1 else print("Key is not present")

200

In [62]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
print(dict1.get('a'))

None

### 2. Keys()

In [ ]:
dict.keys()

In [66]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
dict1.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [68]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
list(dict1.keys())

['A', 'B', 'C', 'D', 'E']

In [73]:
dict1 = {'A':100, "B": 200, "C":300,"D":400, "E":500}
x = list(dict1.keys())
print(x)
for key in x: 
    print("Key is :",key)

['A', 'B', 'C', 'D', 'E']
Key is : A
Key is : B
Key is : C
Key is : D
Key is : E

In [75]:
employee_details = {"Name":"Suraj",
                   "Age":28,
                   "Designation": "Data Scientist",
                   "Salary" : 80000}

employee_details.keys()

dict_keys(['Name', 'Age', 'Designation', 'Salary'])

### 3. Values

In [ ]:
dict.values()

In [77]:
employee_details = {"Name":"Suraj",
                   "Age":28,
                   "Designation": "Data Scientist",
                   "Salary" : 80000}

employee_details.values()

dict_values(['Suraj', 28, 'Data Scientist', 80000])

In [79]:
for val in employee_details.values():
    print("Value is :",val)

Value is : Suraj
Value is : 28
Value is : Data Scientist
Value is : 80000

In [82]:
list1 = list(employee_details.values())
print(list1)
for val in list1:
    print("Value is :",val)

['Suraj', 28, 'Data Scientist', 80000]
Value is : Suraj
Value is : 28
Value is : Data Scientist
Value is : 80000

### 4. items()

In [ ]:
dict.items()

Return key and values of dictionary

In [120]:
employee_details = {"Name":"Suraj",
                   "Age":28,
                   "Designation": "Data Scientist",
                   "Salary" : 80000}

employee_details.items()

dict_items([('Name', 'Suraj'), ('Age', 28), ('Designation', 'Data Scientist'), ('Salary', 80000)])

In [122]:
for key, value in employee_details.items():
    print(key, value)

Name Suraj
Age 28
Designation Data Scientist
Salary 80000

In [86]:
# list2 = [('Name', 'Suraj'), ('Age', 28), ('Designation', 'Data Scientist'), ('Salary', 80000)]

In [90]:
list1 = [10,20,30,40,50]

for i,item in enumerate(list1):
    print(item)

10
20
30
40
50

In [113]:
for value in list(enumerate(list1)):
    print("value :",value)

value : (0, 10)
value : (1, 20)
value : (2, 30)
value : (3, 40)
value : (4, 50)

In [114]:
x, y = (0, 10)
x

0

In [117]:
for x,y in list(enumerate(list1)):
    print(f"x == {x}, y == {y}")

x == 0, y == 10
x == 1, y == 20
x == 2, y == 30
x == 3, y == 40
x == 4, y == 50

In [119]:
for index, value in list(enumerate(list1, start=10)):
    print(f"index == {index}, value == {value}")

index == 10, value == 10
index == 11, value == 20
index == 12, value == 30
index == 13, value == 40
index == 14, value == 50

In [102]:
x = (0, 10)
x[0]
x[1]

10

In [105]:
x = 0, 10
x[0]
x[1]

10

In [111]:
x = [0, 10]
x[1]

10

In [96]:
list3 = [(0, 10),1000, (1, 20), (2, 30), 3000,(3, 40), (4, 50)]

for x in list3:
    print(x)

(0, 10)
1000
(1, 20)
(2, 30)
3000
(3, 40)
(4, 50)

In [127]:
for key, value in employee_details.items():
    print(f"key == {key}, value == {value}")

key == Name, value == Suraj
key == Age, value == 28
key == Designation, value == Data Scientist
key == Salary, value == 80000

In [132]:
employee_details = {'Name': 'Suraj', 'Age': 28, 
                    'Designation': 'Data Scientist', 'Salary': 80000}

print(employee_details.keys())
print(employee_details.values())
print(employee_details.items())

dict_keys(['Name', 'Age', 'Designation', 'Salary'])
dict_values(['Suraj', 28, 'Data Scientist', 80000])
dict_items([('Name', 'Suraj'), ('Age', 28), ('Designation', 'Data Scientist'), ('Salary', 80000)])

In [136]:
x = [('Name', 'Suraj'), ('Age', 28), ('Designation', 'Data Scientist')]
dict(x)

{'Name': 'Suraj', 'Age': 28, 'Designation': 'Data Scientist'}

In [141]:
employee_details = {'Name': 'Suraj', 'Age': 28, 
                    'Designation': 'Data Scientist', 'Salary': 80000}

employee_details['Name']

'Suraj'

In [142]:
for key in employee_details:
    print(key, employee_details[key])

Name Suraj
Age 28
Designation Data Scientist
Salary 80000

In [143]:

for key in employee_details.keys():
    print(key, employee_details[key])

Name Suraj
Age 28
Designation Data Scientist
Salary 80000

### 5. update()

In [ ]:
dict.update({key:value})

Used to add two dictionaries

In [146]:
employee_details = {'Name': 'Suraj', 'Age': 28, 
                    'Designation': 'Data Scientist', 'Salary': 80000}

employee_details["Name"]

'Suraj'

In [148]:
employee_details = {'Name': 'Suraj', 'Age': 28, 
                    'Designation': 'Data Scientist', 'Salary': 80000}

employee_details["Name"] = "Rohit"
employee_details

{'Name': 'Rohit', 'Age': 28, 'Designation': 'Data Scientist', 'Salary': 80000}

In [152]:
employee_details = {'Name': 'Suraj', 'Age': 28, 
                    'Designation': 'Data Scientist', 'Salary': 80000}

employee_details["Emp_name"] = "Rohit"
employee_details

{'Name': 'Suraj',
 'Age': 28,
 'Designation': 'Data Scientist',
 'Salary': 80000,
 'Emp_name': 'Rohit'}

In [154]:
employee_details = {'Name': 'Suraj', 'Age': 28, 
                    'Designation': 'Data Scientist', 'Salary': 80000}

employee_details["Salary"] = 90000
employee_details

{'Name': 'Suraj', 'Age': 28, 'Designation': 'Data Scientist', 'Salary': 90000}

In [155]:
employee_details = {'Name': 'Suraj', 'Age': 28, 
                    'Designation': 'Data Scientist', 'Salary': 80000}

employee_details["salary"] = 90000
employee_details

{'Name': 'Suraj',
 'Age': 28,
 'Designation': 'Data Scientist',
 'Salary': 80000,
 'salary': 90000}

In [158]:
employee_details1 = {'Name': 'Suraj', 'Age': 28}
employee_details2 = {'Designation': 'Data Scientist', 'Salary': 80000}
employee_details1
employee_details2

{'Designation': 'Data Scientist', 'Salary': 80000}

In [159]:
employee_details1.update(employee_details2)

employee_details1

{'Name': 'Suraj', 'Age': 28, 'Designation': 'Data Scientist', 'Salary': 80000}

In [162]:
employee_details1 = {'Name': 'Suraj', 'Age': 28}
employee_details2 = {'Designation': 'Data Scientist', 'Salary': 80000}

employee_details2.update(employee_details1)

employee_details2

{'Designation': 'Data Scientist', 'Salary': 80000, 'Name': 'Suraj', 'Age': 28}

In [164]:
employee_details1 = {'Name': 'Suraj', 'Age': 28}

employee_details1.update({'Designation': 'Data Scientist'})

employee_details1

{'Name': 'Suraj', 'Age': 28, 'Designation': 'Data Scientist'}

In [166]:
employee_details1 = {'Name': 'Suraj', 'Age': 28}

employee_details1.update({'Age': 30})

employee_details1

{'Name': 'Suraj', 'Age': 30}

In [168]:
employee_details1 = {'Name': 'Suraj', 'Age': 28}
employee_details1.update(employee_details1)
employee_details1

{'Name': 'Suraj', 'Age': 28}

In [171]:
employee_details1 = {'Name': 'Suraj', 'Age': 28}

employee_details1.update({'age': 30})

employee_details1

{'Name': 'Suraj', 'Age': 28, 'age': 30}

In [178]:
list1 = [3,1,6,7,9,10]

sqr = {}
for i in list1:
    sqr.update({i : i**2})
    print(sqr)

{3: 9}
{3: 9, 1: 1}
{3: 9, 1: 1, 6: 36}
{3: 9, 1: 1, 6: 36, 7: 49}
{3: 9, 1: 1, 6: 36, 7: 49, 9: 81}
{3: 9, 1: 1, 6: 36, 7: 49, 9: 81, 10: 100}

In [179]:
x = {}
print(x)
x.update({'Name' : 'Rohit'})
print(x)

x.update({"age":30})
print(x)

{}
{'Name': 'Rohit'}
{'Name': 'Rohit', 'age': 30}

In [181]:
list1 = [3,1,6,7,9,10]
sqr = {}
for i in list1:
    sqr.update({i : i**2})
print(sqr)

{3: 9, 1: 1, 6: 36, 7: 49, 9: 81, 10: 100}

In [183]:
d1 = {}
print(d1)
d1['Name'] = 'Rohit'
d1

{}

{'Name': 'Rohit'}

In [186]:
list1 = [3,2,6,7,9,10]
sqr = {}
for i in list1:
    sqr[i] = 100
    print(sqr)

{3: 100}
{3: 100, 2: 100}
{3: 100, 2: 100, 6: 100}
{3: 100, 2: 100, 6: 100, 7: 100}
{3: 100, 2: 100, 6: 100, 7: 100, 9: 100}
{3: 100, 2: 100, 6: 100, 7: 100, 9: 100, 10: 100}

In [187]:
list1 = [3,2,6,7,9,10]
sqr = {}
for i in list1:
    sqr[i] = i**2
    print(sqr)

{3: 9}
{3: 9, 2: 4}
{3: 9, 2: 4, 6: 36}
{3: 9, 2: 4, 6: 36, 7: 49}
{3: 9, 2: 4, 6: 36, 7: 49, 9: 81}
{3: 9, 2: 4, 6: 36, 7: 49, 9: 81, 10: 100}

In [192]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
# sub_marks = {'phy' :92, 'che':94}
sub_marks = {}

for i,subject in enumerate(subject_names):
    print(subject)

phy
che
math
eng
bio

In [194]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
# sub_marks = {'phy' :92, 'che':94}
sub_marks = {}

for i,subject in enumerate(subject_names):
    print(i)

0
1
2
3
4

In [196]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
# sub_marks = {'phy' :92, 'che':94}
sub_marks = {}

for i,subject in enumerate(subject_names):
    print(i,marks[i])

0 92
1 94
2 91
3 92
4 95

In [200]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
# sub_marks = {'phy' :92, 'che':94}
sub_marks = {}

for i,subject in enumerate(subject_names):
    print(i,subject,marks[i])
    print("*"*30)

0 phy 92
******************************
1 che 94
******************************
2 math 91
******************************
3 eng 92
******************************
4 bio 95
******************************

In [202]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
# sub_marks = {'phy' :92, 'che':94}
sub_marks = {}

for i,subject in enumerate(subject_names):
    sub_marks.update({subject : marks[i]})
    print(sub_marks)

    print("*"*30)

{'phy': 92}
******************************
{'phy': 92, 'che': 94}
******************************
{'phy': 92, 'che': 94, 'math': 91}
******************************
{'phy': 92, 'che': 94, 'math': 91, 'eng': 92}
******************************
{'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
******************************

In [204]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
sub_marks = {}

for i,subject in enumerate(subject_names):
    sub_marks.update({subject : marks[i]})
    print(sub_marks)

{'phy': 92}
{'phy': 92, 'che': 94}
{'phy': 92, 'che': 94, 'math': 91}
{'phy': 92, 'che': 94, 'math': 91, 'eng': 92}
{'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}

In [206]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
sub_marks = {}

for i,subject in enumerate(subject_names):
    sub_marks.update({subject : marks[i]})
print(sub_marks)

{'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}

In [209]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
sub_marks = {}

for i,subject in enumerate(subject_names):    
    sub_marks[subject] = marks[i]
    print(sub_marks)

{'phy': 92}
{'phy': 92, 'che': 94}
{'phy': 92, 'che': 94, 'math': 91}
{'phy': 92, 'che': 94, 'math': 91, 'eng': 92}
{'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}

In [210]:
subject_names = ['phy','che','math','eng','bio']
marks = [92,94,91,92,95]
sub_marks = {}

for i,subject in enumerate(subject_names):    
    sub_marks[subject] = marks[i]
print(sub_marks)

{'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}

# Delete items from dictionary

In [ ]:
1. pop()
2. popitem()
3. clear()

In [212]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result

{'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}

### 1. pop

In [ ]:
dict.pop(key)

In [214]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.pop('math')
print(result)

{'phy': 92, 'che': 94, 'eng': 92, 'bio': 95}

In [215]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.pop('che')
print(result)

{'phy': 92, 'math': 91, 'eng': 92, 'bio': 95}

In [217]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.pop('MATH')
print(result)

KeyError: 'MATH'

## 2. popitem()

In [ ]:
dict.popitem()

It will delete last inserted item

In [220]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.popitem()
print(result)

{'phy': 92, 'che': 94, 'math': 91, 'eng': 92}

In [223]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.update({"Python":100})
print(result)
result.popitem()
print(result)

{'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95, 'Python': 100}
{'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}

### 3. clear()

In [ ]:
dict.clear()
Delete all items from dictionary

In [224]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result.clear()
print(result)

{}

#### 4. del keyword

In [226]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
result['phy']

92

In [229]:
result = {'phy': 92, 'che': 94, 'math': 91, 'eng': 92, 'bio': 95}
del result['phy']

print(result)

{'che': 94, 'math': 91, 'eng': 92, 'bio': 95}

In [231]:
list2 = [10,20,30,40]
list2[1]

20

In [232]:
list2 = [10,20,30,40]
del list2[1]
print(list2)

[10, 30, 40]